<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.shadps4.shadps4">

    <application android:label="shadPS4" android:allowBackup="false">
        <activity android:name="net.shadps4.shadps4.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
